/* ==================== Font Styles ==================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');


/* ==================== Tailwind Css ==================== */
@import "tailwindcss";


/* ==================== Hide Scrollbar ==================== */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
html {
  scrollbar-width: none;
}
body {
  -ms-overflow-style: none;
}


/* ==================== Font Styles ==================== */
@theme {
  --font-display: "Poppins", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-primary: #1368EC;
}
.font-proza {
  font-family: "Proza Libre", sans-serif;
}
.font-cookie {
  font-family: "Cookie", sans-serif;
}


/* ==================== Base Styles ==================== */
@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #F5F5F5;
    overflow-x: hidden;
  }
}


/* ==================== Custom Css ==================== */
.input-box {
  @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100/50 rounded px-4 py-3 mb-4 mt-2 border border-slate-200 outline-none;
}

.btn-primary {
  @apply w-full text-sm font-medium text-white bg-primary shadow-lg shadow-purple-600/5 p-[10px] rounded-md my-1 hover:bg-blue-600/15 hover:text-blue-600 cursor-pointer transition-all duration-300;
}

.card {
  @apply bg-white p-6 rounded-2xl shadow-md shadow-gray-300 border border-gray-400/50; 
}

.card-btn {
  @apply flex items-center gap-3 text-[12px] font-medium text-gray-700 hover:text-primary bg-gray-50 hover:bg-blue-50 px-4 py-1.5 rounded-lg border border-gray-200/50 cursor-pointer transition-all duration-300;
}

.form-card {
  @apply bg-white p-6 rounded-lg shadow-md shadow-gray-300 border border-gray-400/50; 
}

.form-input {
  @apply w-full text-sm text-black outline-none bg-white border border-slate-300 px-2.5 py-3 rounded-md mt-2 placeholder:text-gray-500;
}

.add-btn {
  @apply w-full flex items-center justify-center gap-1.5 text-xs md:text-sm font-medium text-primary whitespace-nowrap bg-blue-100 border border-blue-100 rounded-lg px-4 py-2 cursor-pointer hover:bg-primary hover:text-white transition-all duration-300;
}

.download-btn {
  @apply items-center gap-3 text-xs font-semibold md:text-[13px] text-lime-900 bg-lime-200 px-2 md:px-3 py-2 rounded border border-lime-200 hover:border-lime-400 cursor-pointer
}

.user-card {
  @apply bg-white p-4 rounded-xl shadow-md shadow-gray-300 border border-gray-400/50 
}